* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
}

#transicao {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
    opacity: 1;
    transition: opacity 1.5s ease;
}

#transicao.fade-open {
    opacity: 0;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.transicao-ativo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fade-out {
    opacity: 1 !important;
}

.container {
    background-image: url("../assets/imgs/login/background.jpg");
    background-size: contain;
    background-size: 100%;
    min-height: 48vw;
    display: flex;
    justify-content: center;
}

.container-login {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 500px;
}

.box-login {
    background: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(9px);
    border: 1.5px solid rgba(255, 255, 255, 0.342);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    width: 90%;
}

.sair {
    position: absolute;
    top: 20px;
    right: 0px;
}

.sair button {
    background-color: #F8EBFF;
    border: none;
    color: #051D0F;
    cursor: pointer;
    height: 50px;
    font-size: 30px;
    margin-top: -43px;
    width: 50px;
}

.geral-login {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.geral-login h1 {
    color: #F8EBFF;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
}

.input-login {
    display: flex;
}

.input-login img {
    margin-left: -20px;
    width: 5%;
}

.input-filho input {
    border: none;
    border-bottom: 2px solid #F8EBFF;
    background: none;
    color: #F8EBFF;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 20px;
    width: 370px;
}

.input-filho input::placeholder {
  color: #F8EBFF;
  font-size: 20px;
  opacity: 1;
}

.input-filho input:focus {
    outline: none;
}

.botao-login {
    background-color: #D9D9D9;
    border: none;
    color: #252426;
    cursor: pointer;
    font-size: 25px;
    padding: 12px;
    margin-top: 15px;
    width: 370px;
}

.cadastrar {
    color: #F8EBFF;
    font-size: 18px;
}

.cadastrar a {
    color: #615b66;
    text-decoration: none;
}